.container {
    display: flex;
    width: 46%;
    height: 90%;
    align-items: center;
}

.contents {
    display: flex;
    height: 90%;
    width: 70%;
    flex-direction: column;
    justify-content: space-evenly;
}

.contents h4 {
    color: #FF7E1B;
    margin: 0;
}

.contents h1 {
    margin: 0;
}

.contents p {
    color: #ccc;
    line-height: 1.5rem;
    margin: 0;
}

.price {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: space-between;
}

.price .discount {
    display: flex;
    width: 100%;
    align-items: center;


}

.discount p {
    color: #FF7E1B;
    background-color: #fae8db;
    border-radius: 8px;
    padding: 2px 5px;
    margin: 0;
}

.discount h2 {
    margin: 0;
    margin-right: 15px;

}

.price .oldPrice {
    display: flex;
    align-items: center;

}

.oldPrice p{
    text-decoration: line-through;
    margin-top: 5px ;
}

.buttons {
    display: flex;
    justify-content: space-between;
}


@media (max-width : 600px) {
    .container {
        width: 100%;
        height: 65%;
        justify-content: center;
    }
    
    .contents {
        width: 95%;
        justify-content: space-between;
        padding: 0 10px;
    }

    .price {
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin-top: 10px;
    }
    
    .buttons {
        flex-direction: column;
        width: 95%;
    }

    .buttons .btns  {
        width: 100%;
        margin-top: 10px;
    }

}