.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 0 7%;
    border-bottom: 2px solid  #ccc;
    height: 90px;
    width: 80%;
}

.nav {
    display: flex;
    width: 60%;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.sneakers {
    color: black;
    font-size: 26px;
    font-weight: bold;
    margin-right: 50px;
}

.nav li {
    font-size: 16px;
    color: #ccc;
    margin: 0;
}

.icon {
    color: #69707D;
}

.profile {
    display: flex;
    justify-content: flex-end;
}

.avatar {
    display: flex;
    width: 30px;
    border-radius: 50px;
    background-image: url('../../images/image-avatar.png');
    background-size: cover;
    margin-left: 30px;
}
