.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 0 7%;
    border-bottom: 2px solid  #ccc;
    height: 90px;
    width: 80%;
}

.toggleButton {
    display: none;
    width: 20px;
    height: 15px;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 9px;
}

.toggleButton .bar {
    height: 3px;
    border-radius: 5px;
    width: 100%;
    background-color: #69707D;
}


.sneakers {
    color: black;
    font-size: 26px;
    font-weight: bold;
    margin-right: 50px;
}

.nav {
    display: flex;
    width: 60%;
    align-items: center;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}


.nav li {
    font-size: 16px;
    color: #ccc;
    margin: 0;
}

.icon {
    color: #69707D;
}

.profile {
    display: flex;
    justify-content: flex-end;
}

.avatar {
    display: flex;
    width: 30px;
    border-radius: 50px;
    background-image: url('../../images/image-avatar.png');
    background-size: cover;
    margin-left: 30px;
}

@media (max-width : 600px) {
    .header {
        height: 50px;
        border-bottom: none;
    }

    .sneakers {
        margin-right: 10px;
    }

    .nav ul {
        display: none;
    }

    .toggleButton {
        display: flex;
        margin-right: 20px;
    }

    .avatar {
        margin-left: 10px;
    }
}
