.header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin: 0 15%;
    margin-top: 20px;
    border-bottom: 2px solid var(--light-grayish-blue);
}

.header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 0 2%;
}

.header .nav .menu {
    border-radius: 0px;
    width: 25px;
    display: none;
}

.header .nav ul {
    display: flex;
    justify-content: space-between;
    width: 70%;
    color: var(--grayish-blue);
}


.header .profile {
    display: flex;
    width: 120px;
    align-items: center;
    justify-content: space-between;
}

.header .profile .avatar {
    height: 50%;
}

img {
    height: 20%;
}

    @media (max-width : 1024px) {
        .header .nav {
            width: 600px;
        }

        .header .nav ul {
            margin-left: 10px;
        }

        .header .profile {
            width: 90px;
        }

        .header .profile .avatar {
            height: 35px;
        }
}

@media (max-width : 768px) {
    .header {
        padding: 0 40px;
    }
    .header .nav {
        justify-content: flex-start;
        width: 400px;
    }

    .header .nav .menu {
        display: block;
        margin-right: 30px;
    }
    .header .nav ul {
        display: none;
    }
}

@media (max-width : 480px) {
    .header {
        padding: 0
    }
    .header .nav {
        width: 200px;
    }

    .header .nav .menu {
        margin-right: 9px;
        width: 20px;

    }

    .header .profile {
        width: 70px;
    }

    .header .profile .avatar {
        height: 25px;
    }
}