.container {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    background-color: var(--light-grayish-blue);
    padding: 10px 0;
    border-radius: 6px;
}

.container input {
    width: 40%;
    border: none;
    text-align: center;
    background-color: var(--light-grayish-blue);
    font-size: 18px;
    font-weight: bold;
}

.container button {
    color: var(--orange);
    width: 30%;
    background-color: var(--light-grayish-blue);
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-align: center;

}