

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  display: flex;
  height: 560px;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0 ;
  box-sizing: border-box;
}

@media (min-height : 900px) {
  .layout {
    height: 100vh;
  }
  
}

@media (max-width: 600px) {
  .layout {
    flex-direction: column;
    padding: 0;
  }
  
}
