.btn {
    width: 57%;
    border-radius: 6px;
    color: var(--white);
    background-color: var(--orange);
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 10px 0;
}

.btn img {
    color: var(--white);
    margin-right: 10px;
    width: 15px;
    height: 15px;
    filter: brightness(600%);
}

@media (max-width : 768px) {
    .btn {
        width: 100%;
    }
}