.button {
    display: flex;
    background-color: #FF7E1B ;
    color: #fff;
    width: 55%;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    border: 2px  #FF7E1B solid;
}

